## Cache
cache/compiled/*.php
cache/sessions/sess_*
cache/openid/associations/
cache/openid/nonces/

## Editors files
*.komodoproject

## Composer
vendor/
composer.lock

## PHPUnit
.phpunit.cache/

## phpDocumentor
.phpdoc/

## Content
/content/
