@charset "utf-8";

/*  -------------------------------------------------------------
    Zed
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Tags:           space retro futurist
    Filename:       login.css
    Version:        1.0
    Created:        2010-01-27
    Updated:        2010-02-09
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Page
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

body {
    margin: 0 0 0 0;
    background-color: #343434;
    font-family: "FixedSys", monospace;
}

/*  -------------------------------------------------------------
    Login form
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#LoginBox {
    background-image: url("../../img/login/bg.jpg");
    width: 341px;
    height: 516px;
    margin: 0 auto 0 auto;
}

#LoginBox label { display:none; }

#LoginBox input {
    width: 150px;
    font-weight: 900;
    border: none;
    background-color: #3b3f55;
    color: white;
}

#LoginBox #username {
    position: relative;
    top: 250px;
    left: 150px;
}

#LoginBox #password {
    position: relative;
    top: 300px;
    left: 150px;
}

#LoginBox #openid {
    position: relative;
    top: 390px;
    width: 230px;
    left: 50px;

    /* OpenID */
    background-image: url("../../img/login/openid.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#LoginBox #submit {
    position: relative;
    top: 420px;
    left: 250px;
    width: 50px;
}

.error {
    position: relative;
    width: 290px;
    margin: 0 10px 0 10px;
    text-align: right;
    color: #3b3f55;
    top: 274px;
}

/*  -------------------------------------------------------------
    Bottom right vertical links

    Inspiration: mono lab "monochrome" wordpress theme
    http://www.mono-lab.net
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#link_tour a {
    position: absolute;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 18px;
    height: 84px;
    display: block;
    background: url("../../img/login/tour.png") no-repeat left top;
}

#link_tour a:hover {
    background:url("../../img/login/tour.png") no-repeat right top;
}

#link_blog a {
    position:absolute;
    position:fixed;
    right:35px;
    bottom:15px;
    width:18px;
    height:84px;
    display:block;
    background:url("../../img/login/blog.png") no-repeat left top;
}

#link_blog a:hover {
    background:url("../../img/login/blog.png") no-repeat right top;
}