@charset "utf-8";

/*  -------------------------------------------------------------
    Zed
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Tags:           space retro futurist
    Filename:       profile.css
    Version:        1.0
    Created:        2010-01-27
    Updated:        2010-02-11
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Profile header
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.profile_id {
	height: 40px;
    line-height: 1.2em;
	background-color: black;
	color: white;
}

.profile_id H1 {
    color: #04acf8;
}

.profile_info {
	float: right;
    font-size: 0.90em;
    padding-right: 1em;
}

.profile_info a {
	color: white;
}

.profile_info a:hover {
	color: white;
	font-weight: bold;
}

.profile_nick {
	float: left;
    margin-top: 0;
    height: 30px;
	padding-left: 12px;
    padding-top: 10px;
	font-size: 1.25em;
	font-weight: 500;
    border-left: solid #04acf8 6px;
}

/*  -------------------------------------------------------------
    Profile
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.profile {
    background-color: black;
    color: white;
    margin-bottom: 20px;
    border: 2px solid #04acf8;
}

.profile_text, .profile_message, .profile_tags {
    margin-left: 10px;
    margin-right: 10px;
}

.profile_text {
    padding-top: 1em;
    font-size: 1em;
    text-align: justify;
}

.profile_text img {
    border: 0px;
}

.profile_text.fixedwidth {
	font-family: "Fixedsys Excelsior 3.01", Fixedsys, Fixed;
	white-space: pre;
}

.profile_separator_light {
    height: 1em;
    border-bottom: 1px solid #04acf8;
}

.profile_tags dt {
    font-weight: 900;
    color: #04acf8;
}

.profile_tags dd {
    text-align: justify;
}

/*  -------------------------------------------------------------
    Profile comments
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.profile_comments {
    background-color: #fafafa;
    border: solid 1px #dedede;
}

.profile_comments_info {
    font-style: italic;
}

.profile_comments_text {
    font-size: 1.25em;
}

/*  -------------------------------------------------------------
    Profile editor
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.photos {
}

.photo img {
    margin: 8px 0px 12px 20px;
    border: 0;
}

.photo {
    float: left;
}

/*  -------------------------------------------------------------
    Profile sidebar
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#sidebar {
    color: white;
}
