@charset "utf-8";

/*  -------------------------------------------------------------
    Zed
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Tags:           space retro futurist
    Filename:       forms.css
    Version:        1.0
    Created:        2010-01-27
    Updated:        2010-01-27
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Page settings
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

body {
    /* margin: 28px 0 0 0; */
    margin: 0 0 0 0;
    
    background-color: #343434;
    background-image: url("/img/zed/topborder.png");
    background-position: top;
    background-repeat: repeat-x;

    font-family: "Calibri", "Lucida Sans Unicode", "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    
    
    color: white;
}


h1, h2, h3, h4, h5, h6 {
    color: black;
}

pre {
    font-family: FixedSys, monospace;
}

/*  -------------------------------------------------------------
    Links
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

a {
    color: #1AC8E8;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: none;
}

/*  -------------------------------------------------------------
    Notify messages
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.notify {
	padding-top:    25px;
	padding-bottom: 25px;

	margin-bottom: 10px;
	
	text-align: center;
	background: #eeeeee;
	font-size: 1.5em;
	color: black;
	
	border: 5px solid #1AC8E8;
	width: 950px;
}

.wap {
	padding-top:    50px;
	padding-bottom: 50px;

	margin-bottom: 10px;	
	
	text-align: center;
	background: #eeeeee;
	font-size: 2em;
	color: black;

	border: 5px solid indianred;
	width: 950px;
	
}

/*  -------------------------------------------------------------
    Wall
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.wall {
    text-align: left;
    float: right;
    font-size: 80%;
}

.wall_info {
    display: block;
    text-align: right;
}

/*  -------------------------------------------------------------
    Info
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.info {
    font-size: 90%;
}

.info strong {
    display: inline-block;
    display: -moz-inline-box;
    width: 9em;
    min-width: 9em;
    font-weight: 600;
    color: #fd9800;
}

/*  -------------------------------------------------------------
    Messages
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
    
.message {
    margin-bottom: 17px;
    padding: 8px 9px 8px 9px;
    width: 940px;
    font-size: 80%;
}

.message.light {
    background-color: #fafafa;
    border: 3px solid #dedede;
    width: 938px;
    color: black;
}

.message.light a {color: #343434;}

.message.dark {
    background-color: #acc0c3;
    border: solid 3px #4e5758;
    width: 938px;
    
}
.message.dark a {color: #154c4c;}

.message a:hover {
    font-weight: 900;
}

.message_info {
    text-align: right;
    margin-bottom: 1em;
}

.message_text {
    font-size: 1.25em;
}

.message_info {
    color: #343434;
}

/*  -------------------------------------------------------------
    Color boxes
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.plum {
    background-color: plum;
    border: 1px solid #800080;
    color: black;
}
.plum a { color: #800080; }

.green {
    background-color: beige;
    border: 1px solid darkgreen;
    color: black;
}
.green a { color: darkgreen; }

.skyblue {
    background-color: lightskyblue;
    border: 1px solid #6e47fe;
}
.skyblue a { color:navy }

.indigo {
    background-color: #AE97E1;
    border: 1px solid #C97FFF;
    
}
.indigo a {color: #800080;}

.yellow {
    background-color: #FFFFCC;
    border: 1px solid #C4B963;
    
}
.yellow a {color: navy;}

.orange {
    background-color: #FDD9AC;
    border: 1px solid #eaaf67;
}
.orange a {color: #43392e;}

.red {
    background-color: #FFE4E1;
    border: solid 1px #DC7777;
    
}
.red a {color: #993333;}

.black {
    background-color: black;
    color: #ccc;
    border: solid 2px #555;
}

.plum a:hover,
.green a:hover,
.skyblue a:hover,
.indigo a:hover,
.yellow a:hover,
.orange a:hover,
.red a:hover{
    font-weight: bold;
}

/*  -------------------------------------------------------------
    SmartLine
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#SmartLine {
    width: 100%;
}

#SmartLine .left {
    background-color: green;
}

#SmartLine .right {
    float: right;
    text-align: right;
}

/* TODO: ajouter un sélecteur de SmarLine pour chat/commandes (60px) */
/* grid_1 alpha -> sélecteur, grid_3 -> history, grid_12 > bar */

#SmartLineHistory {
    width: 115%; /* dépasse de sa bordure */
}

#SmartLineBar{
    /* 99.6% for alignment with .message.light */
    width: 99.6%;
}

#SmartLineResults {
	font-family: "Fixedsys Excelsior 3.01", FixedSys, Terminal;
	font-size: 12pt;
}

#SmartLineResults .highlight {
	color: #16c3cc;
}

#SmartLineResults .error {
	color: red;
}

#SmartLineResults p {
    padding-left: 1em;
}

/*  -------------------------------------------------------------
    Floating panes
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
.floatingPaneTutorial {
    width: 957.5px;
    margin-bottom: 1em;
    color: black;
}

.floatingPaneTutorial a {
    color: navy;
}

.floatingPaneTutorial a:hover {
    color: #7F0707;
    font-weight: 900;
}

.floatingPaneTutorial p {
    color: black;
    margin: 0;
    padding: 5px 10px 0px 10px; 
}

.dojoxDockList {
    color: black;
}

/*  -------------------------------------------------------------
    Footer
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#footer {
    font-size: 80%;
}