@charset "utf-8";

/*  -------------------------------------------------------------
    Zed
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Tags:           space retro futurist
    Filename:       forms.css
    Version:        1.0
    Created:        2010-01-27
    Updated:        2010-01-27
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Page settings
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

body {
    margin: 28px 0 0 0;
    
    background-color: #343434;
	background-image: url("/img/zed/topborder.png");
	background-position: top;
	background-repeat: repeat-x;
    
	font-family: "Calibri", "Lucida Sans Unicode", "Trebuchet MS", "Helvetica", "Arial", sans-serif;
	font-size: 80%;
}


label, p, table, pre {
    color: white
}

pre {
    font-family: FixedSys, monospace;
}

/*  -------------------------------------------------------------
    Links
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

a {
    color: #1AC8E8;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: none;
}

/*  -------------------------------------------------------------
    Notify messages
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.notify {
	padding-top:    25px;
	padding-bottom: 25px;

	margin-bottom: 10px;
	
	text-align: center;
	background: #eeeeee;
	font-size: 1.5em;
	
	border: 5px solid #1AC8E8;
	width: 950px;

}

.wap {
	padding-top:    50px;
	padding-bottom: 50px;

	margin-bottom: 10px;
	
	border: 5px solid indianred;
	text-align: center;
	background: #eeeeee;
	font-size: 2em;
	width: 950px;
}

/*  -------------------------------------------------------------
    Wall
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.wall {
    text-align: left;
    float: right;
}

.wall_info {
    display: block;
    text-align: right;
}

/*  -------------------------------------------------------------
    Messages
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
    
.message {
    margin-bottom: 17px;
    padding: 8px 9px 8px 9px;
    width: 940px;
}

.message.light {
    background-color: #fafafa;
    border: 1px solid #dedede;
}

.message.light a {color: #343434;}

.message.dark {
    background-color: #acc0c3;
    border: solid 3px #4e5758;
    width: 938px;
    
}
.message.dark a {color: #154c4c;}

.message a:hover {
    font-weight: 900;
}

.message_info {
    text-align: right;
}

.message_text {
    font-size: 1.25em;
}

.message_info {
    color: #343434;
}

/*  -------------------------------------------------------------
    Color boxes
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.plum {
    background-color: plum;
    border: 1px solid #800080;
    color: black;
}
.plum a { color: #800080; }

.green {
    background-color: beige;
    border: 1px solid darkgreen;
    color: black;
}
.green a { color: darkgreen; }

.skyblue {
    background-color: lightskyblue;
    border: 1px solid #6e47fe;
}
.skyblue a { color:navy }

.indigo {
    background-color: #AE97E1;
    border: 1px solid #C97FFF;
    
}
.indigo a {color: #800080;}

.yellow {
    background-color: #FFFFCC;
    border: 1px solid #C4B963;
    
}
.yellow a {color: navy;}

.orange {
    background-color: #FDD9AC;
    border: 1px solid #eaaf67;
}
.orange a {color: #43392e;}

.red {
    background-color: #FFE4E1;
    border: solid 1px #DC7777;
    
}
.red a {color: #993333;}

.plum a:hover,
.green a:hover,
.skyblue a:hover,
.indigo a:hover,
.yellow a:hover,
.orange a:hover,
.red a:hover{
    font-weight: bold;
}