@charset "utf-8";

/*  -------------------------------------------------------------
    Zed
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Tags:           space retro futurist
    Filename:       theme.css
    Version:        1.1
    Created:        2010-01-27
    Updated:        2010-07-02
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Page settings
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

body {
    margin: 0.5em 0 0 0;

    background-attachment: fixed;
    background-color: #343434;
    background-image: url("../../img/zed/bg.jpg");
    background-position: top left;
    background-repeat: no-repeat;

    font-family: "Calibri", "Lucida Sans Unicode", "Trebuchet MS", "Helvetica", "Arial", sans-serif;

    min-height: 1200px;
}

.container_16 {
	color: white;
}

h1 {
    color: #19B5E7;
    font-size: 21px;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    color: #04acf8;
    font-weight: normal;
}

h2 {
    font-size: 19px;
}

h3 {
    color: #04acf8;
    font-size: 16px;
}

pre {
    font-family: FixedSys, monospace;
}

/*  -------------------------------------------------------------
    Links
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

a {
    color: #1AC8E8;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: none;
}

/*  -------------------------------------------------------------
    Notify messages
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.notify {
    padding-top:    25px;
    padding-bottom: 25px;

    margin-bottom: 10px;

    text-align: center;
    background: #eeeeee;
    font-size: 1.5em;
    color: black;

    border: 5px solid #1AC8E8;
    width: 950px;
}

.wap {
    padding-top:    50px;
    padding-bottom: 50px;

    margin-bottom: 10px;

    text-align: center;
    background: #eeeeee;
    font-size: 2em;
    color: black;

    border: 5px solid indianred;
    width: 950px;
}

/*  -------------------------------------------------------------
    Header
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#header {
    background-image: url("../../img/zed/bg_header.png");
    background-repeat: no-repeat;
    margin: auto auto;
    margin-bottom: 0.5em;
    height: 104px;
    width: 978px;
}

#header_content {
    padding-top: 26px;
}

#HypershipTime {
    color: white;
    font-size: 0.8em;
    background-image: url("../../img/zed/time.png");
    background-position: center left;
    background-repeat: no-repeat;
    text-indent: 2em;
}

/*  -------------------------------------------------------------
    Header - wall
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.wall {
    text-align: left;
    float:left;
    color: white;
    font-size: 0.8em;
    background-image: url("../../img/zed/quote.png");
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 2em;
    margin-bottom: 0.8em;
}

.wall_info {
    display: block;
    text-align: right;
    /* font-size: 80%; */
}

.wall a {
    color: #a9a49e;
}

.wall a:hover {
    color: #fd9800;
}

/*  -------------------------------------------------------------
    Content (e.g. stories in /explore)
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.content_wrapper {
    background-color: #171717;
    border: solid 5px black;
    margin-bottom: 1em;
}

.content_wrapper .content {
    padding: 0 2em 0 2em;
    color: white;
}

.content_wrapper H1 {
    margin-top: 0;
    padding: 0.25em 0 0.75em 1em;
    background-color: black;
    height: 1em;
}

/*  -------------------------------------------------------------
    Avatars wall
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.avatar {
    float: left;
    margin-bottom: 2em;
    margin-right: 2em;
    text-align: center;
}

.avatar img {
    border: solid 1px;
}

.avatar_name {
    display: block;
}

.avatar a:hover {
    color: white;
}

/*  -------------------------------------------------------------
    Messages
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.message {
    margin-bottom: 17px;
    padding: 8px 9px 8px 9px;
    width: 940px;
    font-size: 80%;
}

.message.light {
    background-color: #fafafa;
    border: 3px solid #dedede;
    width: 938px;
    color: black;
}

.message.light a {color: #343434;}

.message.dark {
    background-color: #acc0c3;
    border: solid 3px #4e5758;
    width: 938px;
    color: #000033;

}
.message.dark a {color: #154c4c;}

.message a:hover {
    font-weight: 900;
}

.message_info {
    text-align: right;
    margin-bottom: 1em;
}

.message_text {
    font-size: 1.25em;
}

.message_info {
    color: #343434;
}

/*  -------------------------------------------------------------
    Helper classes
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.center {
    text-align: center;
}

/*  -------------------------------------------------------------
    Color boxes
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.plum {
    background-color: plum;
    border: 1px solid #800080;
    color: black;
}
.plum a { color: #800080; }

.green {
    background-color: beige;
    border: 1px solid darkgreen;
    color: black;
}
.green a { color: darkgreen; }

.skyblue {
    background-color: lightskyblue;
    border: 1px solid #6e47fe;
}
.skyblue a { color:navy }

.indigo {
    background-color: #AE97E1;
    border: 1px solid #C97FFF;

}
.indigo a {color: #800080;}

.yellow {
    background-color: #FFFFCC;
    border: 1px solid #C4B963;

}
.yellow a {color: navy;}

.orange {
    background-color: #FDD9AC;
    border: 1px solid #eaaf67;
}
.orange a {color: #43392e;}

.red {
    background-color: #FFE4E1;
    border: solid 1px #DC7777;
	color: #220000;

}
.red a {color: #993333;}

.black {
    background-color: black;
    color: #ccc;
    border: solid 2px #555;
}

.plum a:hover,
.green a:hover,
.skyblue a:hover,
.indigo a:hover,
.yellow a:hover,
.orange a:hover,
.red a:hover{
    font-weight: bold;
}

/*  -------------------------------------------------------------
    SmartLine
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#SmartLine {
    width: 100%;
}

#SmartLine .left {

}

#SmartLine .right {
    float: right;
    text-align: right;
}

/* TODO: ajouter un sélecteur de SmarLine pour chat/commandes (60px) */
/* grid_1 alpha -> sélecteur, grid_3 -> history, grid_12 > bar */

#SmartLineHistory {
    width: 115%; /* dépasse de sa bordure */
}

#SmartLineBar{
    /* 99.6% for alignment with .message.light */
    width: 99.6%;
}

#SmartLineResults {
	font-family: "Fixedsys Excelsior 3.01", FixedSys, Terminal;
	font-size: 12pt;
}

#SmartLineResults .highlight {
	color: #16c3cc;
}

#SmartLineResults .error {
	color: red;
}

#SmartLineResults p {
    padding-left: 1em;
}

/*  -------------------------------------------------------------
    Floating panes
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
.floatingPaneTutorial {
    width: 957.5px;
    margin-bottom: 1em;
    color: black;
}

.floatingPaneTutorial a {
    color: navy;
}

.floatingPaneTutorial a:hover {
    color: #5f0505;
}

.floatingPaneTutorial p {
    color: black;
    margin: 0;
    padding: 5px 10px 0px 10px;
}

.dojoxDockList {
    color: black;
}

/*  -------------------------------------------------------------
    Footer
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#footer {
    font-size: 80%;
    color: white;
}
